@model IEnumerable<ZerodaTrade.Models.Script>

@foreach (var script in Model)
{
    <tr id="row-@script.Id">
        <td>@script.Name</td>
        <td>@(script.Status ? "Active" : "Inactive")</td>
        <td>@script.Group?.Name</td>
        <td>
            <button class="btn btn-sm btn-warning"
                    onclick="openEditModal(@script.Id)">
                Edit
            </button>
            <button class="btn btn-sm btn-info ms-1" onclick="openScriptTrades('@script.Name')">Trades</button>
            <button class="btn btn-sm btn-danger" onclick="openDeleteModal(@script.Id)">Delete</button>
        </td>
    </tr>
}
